@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
  font-family: "Courier Prime", monospace;
  background-color: #6A8EAE;
  text-align: center;
}

.heading {
  font-size: 6vmin;
}
h1{
  font-size: 15vmin;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 10vmin;
  background-color: #FFA500;
  cursor: pointer;
}

#msg {
  color: #FFA500;
  font-size: 7vmin;
}

.msg-container {
  height: 90vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-button {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #333333;
  color: white;
  border-radius: 1rem;
  border: none;
  margin-top: 0.8rem;
}

.hide {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #b3d9ff;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #161616;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}
